<form class="" action="/articles/<%= @article.id %>" method="post">
<input type="hidden" name="_method" value="patch" id="hidden">
<p>Title: <input type="text" name="title" value="<%= @article.title %>" id="title"></p>
<p>Content: <input type="text" name="content" value="<%= @article.content %>" id="content"></p>
<input type="submit" name="submit">
</form>
