<h1>Create an article</h1>

<form class="" action="/articles" method="post">
  <p>Title: <input type="text" name="title" id="title"></p>
  <p>Content: <input type="text" name="content" id="content"></p>
  <input type="submit" name="submit">
</form>
